@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.react{
    cursor: pointer;
}
a>i{
    color: black;

}
.sidebar {
    z-index: 2;
    height: 100%;
    width: 78px;
    background: #11101d;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar .logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}
.sidebar .logo i{
    font-size: 30px;
    color: #fff;
    /* background: red; */
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}
.navigation{
    padding:0;
    height: 100%;
    padding-top: 30px;
}
.navigation li{
list-style: none;
transition: all 0.3s ease;
position: relative;
}

.navigation li :hover{
    background: #1d1b31;
}
.navigation li a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navigation li i{
    font-size: 20px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.navigation li a .link-name {
    font-size: 18px;
    color: #fff;
    /* font-weight: 600; */
}

.icon-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-menu{
    display: none;
    background: #1d1b31;
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
}


.sidebar .sub-menu{
    /* display: none; */
position: absolute;
left: 100%;
top: 0;
margin-top: 0 ;
padding: 10px 20px;
}

.navigation li:hover .sub-menu{
    display: block;
}
.sub-menu li a{
    white-space: nowrap;
    margin: 5px 0;
    color: #fff;
    font-size: 15px;
    opacity: 0.4;
    transition: all 0.3s ease;
}

.sub-menu a:hover{
opacity: 1;
}


.profile-details{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 78px;

}
.profile-job {
    display: flex;
    font-size: 10px;
    color: #fff;
    flex-direction: column;
}
.profile-job .profile-name {
    font-size: 15px;
    font-weight: 400;
}
.profile-details img{
cursor: pointer;
width: 50px;
height: 50px;
border-radius: 100%;
/* line-height: 30px; */
margin: 0 14px 0 12px;
    padding: 5px;
}

.postContent{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
left: 78px;
width: calc(100% - 78px);
/* background: red; */
}


.dataset{
    position: relative;
    left: 78px;
    width: calc(100% - 78px);
    /* background: red; */
    /* z-index: -1; */
}



.post{
    width: 500px;
    background: rgb(242, 242, 242);
}

.post_img img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.post_detail {
    display: flex;
    flex-direction: column;
}

.post_detail span:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
}

.post_detail span:nth-child(2) {
    font-size: 12px;
}

.commentinfo{
    display: flex;
    height: 30px;
}

.postinfo{
    display: flex;

    /* width: 100%; */
    justify-content: space-between;
    /* border: 2px solid black; */
}
.info{
    display: flex;

    /* border: 2px solid red; */
/* width: 100%; */
}


.post_about {
    margin-top: 10px;
    text-align: start;
}
.commentBlock{
    display: none;
    border: 2px solid black;
}
.comment_info{
    height: 30px;
}
.comment_info img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.commentDetail{
    height: 30px;
}
.commentSection{
    list-style: none;
    padding: 0;
}

.comments_post{
    display: flex;

    flex-direction: column;
}

.post_Comments{
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    flex-wrap: wrap;
left: 78px;
width: calc(100% - 78px);
/* background: red; */
}
.comments_post{
 
    border-top: 2px solid #11101d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comments_post .img img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.postComment{

    width: 500px;
    background: rgb(242, 242, 242);
    margin: 10px 0 ;
}